/* You can add global styles to this file, and also import other style files */

:root {
  --background: #ECF2F8;
  font-size: 13px;
}

html, body, main {
  margin: 0;
  padding: 0;
  inline-size: 100vw;
  min-block-size: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--background);
}

.barlow-semi-condensed {
  font-family: "Barlow Semi Condensed", serif;
  font-style: normal;
}
